html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: 26px;
}

a {
	text-decoration: none;
}

.sizer {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid #eee;
	background-color: #484855;
}

.rotor-deck{
	height: 30%;
}

.lampboard, .keyboard{
	height: 30%;
	position: relative;
	border-bottom: 1px solid #222;
}

.keyboard, .screen {
	border-top: 1px solid #666;
}

.lampboard table, .keyboard table {
	width: 100%;
	height: 100%;
}

.lampboard td, .keyboard td {
	text-align: center;
}

.lampboard .lamp {
	display: inline-block;
	border: 1px solid #252632;
	border-radius: 50%;
	font-weight: bold;
	padding: 5px 12px;
	color: #252632;
	box-shadow:inset 0 0 10px #333;
}

.lampboard .lamp.active {
	color: #f0ec84;
	text-shadow: #f0ec84 0px 0px 12px;
}

.keyboard .key {
	display: inline-block;
	border: 3px solid #ededed;
	border-radius: 50%;
	font-weight: bold;
	padding: 5px 12px;
	color: #eee;
	box-shadow: 
		inset 0 0 3px #eee,
		inset 0 0 15px #222,
		5px -5px 10px #222;
	font-size: 78%;
}

.keyboard .key.pressed {
	box-shadow: none;
	border-color: #aaa;
}

.screen {
	height: 10%;
	position: relative;
}

.screen .input, .screen .output {
	font-size: 90%;
	overflow: hidden;
	height: 50%;
	line-height: 100%;
}

/*.rotors_container .rotor,
.rotors_container .rotor .rottor_letters {
	display: inline;
}*/


.rotors_container {
	/*height: 10$;*/
}

.rotors_container .rotor {
	display: inline;
	float: left;
	width: 50px;
}

.rotors_container .rotor .rotor_button {
	display: inline;
}

.rotors_container .rotor ul.rotor_letters {
	max-height: 50px;
	overflow: hidden;
	padding-left: 13px;
	list-style: none;
}

.rotors_container .rotor ul.rotor_letters li.letter.visible_letter {
	font-size: 20pt;
	min-height: 50px;
	vertical-align: middle;

	display: inline;
	-webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-ms-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
}


.rotors_container .rotor ul.rotor_letters li.letter {
	display: none;
}


/*.keyboard .row:nth-child(2),
.lampboard .row:nth-child(2)	{
	margin-left: 25px;
}

.keyboard .row .key	{
	display: inline;
	background-color: #424242;
	color: #e6e6e6;
	border-radius: 50px;
	margin: 5px;
	font-size: 20pt;
	height: 45px;
	width: 45px;
}


.keyboard .row .key.pressed	{
	background-color: #d7df01;
}


.lampboard .row .lamp {
	display: inline;
	background-color: #2e2e2e;
	color: #fff;
	border-radius: 50px;
	margin: 5px;
	font-size: 15pt;
	font-weight: 700;
	min-height: 45px;
	min-width: 45px;
}

.lampboard .row .lamp.active {
	 -webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-ms-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
   	opacity : 0.5;
  	background-color: #b2ac07; 
	color: #dad423;
} */