.keyboard .row:nth-child(2),
.lampboard .row:nth-child(2)	{
	margin-left: 25px;
}

.keyboard .row .key	{
	display: inline;
	background-color: #424242;
	color: #e6e6e6;
	border-radius: 50px;
	margin: 5px;
	font-size: 20pt;
	height: 45px;
	width: 45px;
}


.keyboard .row .key:active	{
	background-color: #d7df01;
}


.lampboard .row .lamp {
	display: inline;
	background-color: #2e2e2e;
	color: #fff;
	border-radius: 50px;
	margin: 5px;
	font-size: 15pt;
	font-weight: 700;
	min-height: 45px;
	min-width: 45px;
}

.lampboard .row .lamp.active {
	 -webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease-in;
	-ms-transition: all 0.7s ease-in;
	-o-transition: all 0.7s ease-in;
	transition: all 0.7s ease-in;
   	opacity : 0.5;
  	background-color: #b2ac07; 
	color: #dad423;
} 

/*.rotors_container .rotor,
.rotors_container .rotor .rottor_letters {
	display: inline;
}*/


.rotors_container .rotor {
	display: inline;
	float: left;
	width: 50px;
}

.rotors_container .rotor input {
	display: inline;
}

.rotors_container .rotor ul.rottor_letters {
	padding-left: 13px;
	list-style: none;
}

.rotors_container .rotor ul.rottor_letters li.letter {
	font-size: 20pt;
	height: 50px;
	border: 1px solid #000;
	vertical-align: middle;
}