.keyboard .row:nth-child(2)	{
	margin-left: 25px;
}

.keyboard .row .key	{
	display: inline;
	background-color: #848484;
	color: #e6e6e6;
	border-radius: 50px;
	margin: 5px;
	font-size: 20pt;
	height: 45px;
	width: 45px;
}


.keyboard .row .key:active	{
	background-color: #d7df01;
}
